<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <th:block th:replace="fragments/layouts::script">script</th:block>
</head>
<body>
<div th:replace="fragments/layouts::header"></div>
<br><br><br><br><br><br><br><br><br><br>
<div class="container">
    <div id="contacts">
        <div class="page_title2"><span><em class="l"></em>Reset Your Password<em class="r"></em></span></div>

        <div class="row">
            <div class="col-sm-12">

                <h3 class="my_page_title">enter your email to reset your password</h3>

                <div id="note"></div>
                <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Check your email to reset your password</div>
                <div id="fields">
                    <form id="ajax-contact-form" class="form-horizontal" th:action="@{/resetPassword}" method="POST">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="email" name="email" value="E-mail address" onBlur="if(this.value=='') this.value='E-mail address'" onFocus="if(this.value =='E-mail address' ) this.value=''"/>
                                </div>
                            </div>
                        </div>
                        <center><button type="submit" class="btn-default btn-cf-submit">Reset Password</button></center><br><br><br>
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>

<div class="row">
    <th:block th:replace="fragments/layouts::footer">footer</th:block>
</div>
</body>
</html>









<div th:if="${param.error != null}" class="error-message">Incorrect credentials!</div>