<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <th:block th:replace="fragments/layouts::script">script</th:block>
</head>
<body>
<div th:replace="fragments/layouts::header"></div>
<br><br><br><br><br><br><br><br><br><br>
<div class="container">
    <div id="contacts">
        <div class="page_title2"><span><em class="l"></em>Update Your Information<em class="r"></em></span></div>
        <!--<span style="font-style: italic;" th:text="${user != null} ? ${#strings.toUpperCase(user.username)} : 'user is null'"></span>-->
        <div class="row">
            <div class="col-sm-12">

                <h3 class="my_page_title">User Profile</h3>

                <div id="note"></div>
                <div id="fields">
                    <form id="ajax-contact-form" class="form-horizontal" th:action="@{/updateUserDetails}" method="post" onsubmit="return validateUserDetails(this)">
                        <div class="row">
                            <div class="col-sm-12">
                                <div th:if="${userDetailsUpdated}" class="success">Your info has been updated successfully!</div>
                                <div th:if="${userNameExist}" class="error">The username already exist!</div>
                                <div th:if="${userEmailExist}" class="error">The user email exist! Enter your personal email.</div>
                                <div class="error" th:if="${passwordMismatch}">The retyped password does not match the password you entered</div>
                                <div class="form-group">
                                    <input type="hidden" name="id" th:value="${user.id}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="username" th:value="${user.username}"/>
                                    <div id="user-username" class="js-error"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="email" th:value="${user.email}"/>
                                    <div id="user-email" class="js-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="generated password"/>
                                    <div id="generated-password" class="js-error"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="phone" th:value="${user.phone}"/>
                                    <div id="user-phone" class="js-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="first-name" th:value="${user.firstName}"/>
                                    <div id="first-name" class="js-error"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="last-name" th:value="${user.lastName}"/>
                                    <div id="last-name" class="js-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="new password"/>
                                    <div id="new-password" class="js-error"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="retypedNewPassword" name="retypedNewPassword" placeholder="re-type new password"/>
                                    <div id="retyped-new-password" class="js-error"></div>
                                </div>
                            </div>
                        </div><br>
                        <center><button type="submit" class="btn-default btn-cf-submit">Update Details</button></center><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <th:block th:replace="fragments/layouts::footer">footer</th:block>
</div>
</body>
</html>