<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <th:block th:replace="fragments/layouts::script">script</th:block>
</head>
<body>
<div th:replace="fragments/layouts::header"></div>
<br><br><br><br><br><br><br><br><br><br>
<div class="container">
    <div id="contacts">
        <div class="page_title2"><span><em class="l"></em>Update Your Information<em class="r"></em></span></div>

        <div class="row">
            <div class="col-sm-12">

                <h3 class="page_title">User Profile</h3>

                <div id="note"></div>

                <div id="fields">
                    <div th:if="${userDetailsUpdated}" class="alert alert-success">Your info has been updated successfully!</div>
                    <form id="#ajax-contact-form" class="form-horizontal" th:action="@{/updateUserDetails}" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="hidden" name="id" th:value="${user.id}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" name="username" value="Username" th:value="${user.username}"
                                           onBlur="if(this.value=='') this.value='Username'" onFocus="if(this.value =='Username' ) this.value=''"/>
                                </div>
                                <div th:if="${userNameExist}" class="alert alert-error">The username already exist!</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputEmail" name="email" value="E-mail address" th:value="${user.email}"
                                           onBlur="if(this.value=='') this.value='E-mail address'" onFocus="if(this.value =='E-mail address' ) this.value=''"/>
                                </div>
                                <div th:if="${userEmailExist}" class="alert alert-error">The user email exist! Enter your personal email.</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="inputPhone" name="phone" value="Phone" th:value="${user.phone}"
                                           onBlur="if(this.value=='') this.value='Phone'" onFocus="if(this.value =='Phone' ) this.value=''"/>
                                </div>
                                <div th:if="${invalidPhone}">The phone number you entered is not correct!</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="firstName" name="firstName" value="First-Name" th:value="${user.firstName}"
                                           onBlur="if(this.value=='') this.value='First-Name'" onFocus="if(this.value =='First-Name' ) this.value=''"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="lastName" name="lastName" value="Last-Name" th:value="${user.lastName}"
                                           onBlur="if(this.value=='') this.value='Last-Name'" onFocus="if(this.value =='Last-Name' ) this.value=''"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <input type="password" class="form-control" id="newPassword" name="newPassword" value="Enter new password"
                                           onBlur="if(this.value=='') this.value='Enter new password'" onFocus="if(this.value =='Enter new password' ) this.value=''"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <input type="password" class="form-control" id="retypeNewPassword" name="retypeNewPassword" value="Re-enter new password"
                                           onBlur="if(this.value=='') this.value='Re-enter new password'" onFocus="if(this.value =='Re-enter new password' ) this.value=''"/>
                                </div>
                                <div th:if="${passwordMismatch}">The retyped password does not match the password you entered</div>
                            </div>
                        </div>
                        <center><button type="submit" class="btn-default btn-cf-submit">Update Details</button></center><br><br>
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>

<div class="row">
    <th:block th:replace="fragments/layouts::footer">footer</th:block>
</div>
</body>
</html>