/*403 page styling */
#container_anim{
    position:relative;
    width:100%;
    height:70%;
}

#key{
    position:absolute;
    top:77%;
    left:-33%;
}

#text{
    font-size:4rem;
    position:absolute;
    top:55%;
    width:100%;
    text-align:center;
}

#credit{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
}



/* 404 page styling */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

   .center-xy {
       width: inherit;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       position: absolute;
   }

*, *:before, *:after {
    box-sizing: inherit;
}

.copy-container {
    text-align: center;
}

.handle {
    background: #ffe500;
    width: 14px;
    height: 30px;
    top: 0;
    left: 0;
    margin-top: 1px;
    position: absolute;
}

#cb-replay hover {
    fill: #666;
    width: 20px;
    margin: 15px;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: inherit;
    cursor: pointer;
    fill: #888;
}


/*additional css styling */



.my_page_title{
    font-size: 30px; line-height: 36px;
    color: #80461b;
    font-family: 'Shadows+Into+Light';
    font-weight: 200;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 30px;
}


/*message styling*/

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 18px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.js-error {

    color: red;
    display: block;
    font-size: 18px;
}


/* some other stylings */
.mtb {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-top: 200px;
}


.auth_link {

    color: #80461b;
    font-size: 20px;
}
