<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${about}"></title>
    <th:block th:replace="fragments/layouts::script">script</th:block>
</head>
<body>
<div th:replace="fragments/layouts::header"></div>

<div class="container mtb">
    <div class="page_title2"><span><em class="l"></em>About the college<em class="r"></em></span></div><br><br>
    <div class="row">
        <div style="width: 50%;" class="col-lg-6">
            <img style="height: auto; max-width: 100%;" class="img-responsive" src="images/agency.jpg" alt="">
        </div>

        <div style="width: 50%;" class="col-lg-6">
            <h4 style="font-size: 30px;">The College of Engineering</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable source.</p>
            <p><br/><a th:href="@{/contact}" class="btn-default btn-cf-submit">Contact Us</a></p>
        </div>
    </div>
</div>

<div class="row">
    <th:block th:replace="fragments/layouts::footer">footer</th:block>
</div>
</body>
</html>