<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <th:block th:replace="fragments/layouts::script">script</th:block>
</head>
<body>
<div th:replace="fragments/layouts::header"></div>

<div style="margin-top: 200px; margin-bottom: 150px;" class="container">
    <div style="margin-top: 240px;" class="container-fluid">
        <div style="margin-top: -200px;" class="page_title2"><span><em class="l"></em>Innovation<em class="r"></em></span></div>

        <h4 style="font-size: 30px; float: left;">Coming soon....</h4>
    </div>
</div>
<div class="row">
    <th:block th:replace="fragments/layouts::footer">footer</th:block>
</div>
</body>
</html>